<%- include('./partials/header') %>

<h1 class="d-flex justify-content-center">Welcome</h1>
<p class="d-flex justify-content-center">Transaction register is a straight-foward app meant to help you keep track of transactions in real time</p>
<p class="d-flex justify-content-center">Sign in to get started adding your accounts and transactions!</p>




<%- include('./partials/footer') %>