<%- include('./partials/header') %>
<br><br>
  <div class="d-flex align-items-center flex-column">
    <div class="border rounded-pill p-3 bg-light d-flex align-items-center flex-column">
    <h1>Welcome</h1>
    <p>Transaction register is a straight-foward app meant to help you manually keep track
      of transactions in real time</p>
      <p text-center">Sign in to get started adding your accounts and transactions!</p>
      <a class="btn btn-dark" href="/auth/google">LOG IN</a>
    </div>
  </div>
    

  <%- include('./partials/footer') %>