<%- include('./partials/header') %>
  <div class="d-flex align-items-center flex-column">
    <h1>Welcome</h1>
    <p>Transaction register is a straight-foward app meant to help you keep track
      of transactions in real time</p>
    <p>Sign in to get started adding your accounts and transactions!</p>
  </div>



  <%- include('./partials/footer') %>